@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Self Bio";
}

<!DOCTYPE html>


    <h1>Jake Halversen</h1>

    <div class="row">
        <h2>Things I love to do</h2>
        <div class="column">
            <h2>Lacrosse</h2>
            <img src="img/IMG_3085.JPG" />
        </div>
        <div class="column">
            <h2>Golf</h2>
            <img src="img/IMG_3739.jpg" />
        </div>
    </div>
    <div>
        <h3>Things I want to get out of IS 413</h3>

        <p>I want to feel comfortable in being able to do the basics of coding with each of the languages we are learning.</p>
        <p>I also want to be able to learn enough to feel confident that I know enough to look up and learn specifics later.</p>
        <p>I would also like to be able to use the skills I learn to start working on my business ideas.</p>
    </div>

    <div>
        <h3>Top 3 Jobs</h3>

        <ul>
            <li>Entrepreneurship</li>
            <li>Consulting</li>
            <li>Data Analytics</li>

        </ul>
    </div>
    <!--Assignments 50%, Group Project 10%, Quizzes 10%, Midterm Exam 10%, Final Exam 10%, INTEX 10%-->
    <div>
        <form>
            <label>Assignments:</label>
            <input id="assign" /><br />
            <label>Group Project:</label>
            <input id="proj" /><br />
            <label>Quizzes:</label>
            <input id="quiz" /><br />
            <label>Midterm Exam:</label>
            <input id="mid" /><br />
            <label>Final Exam:</label>
            <input id="final" /><br />
            <label>INTEX:</label>
            <input id="intex" /><br />
            <input id="btnSend" type="button" value="Calculate Grade" />
        </form>
        <div id="output">

        </div>
    </div>


    <script src="js/grades.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
